{% extends 'base.html' %} {% block navbar %}
<nav class="navbar">
  <div>
    <a href="#">Learn</a>
  </div>
  <div class="menu">
    <ul class="menuitem">
      <li><a href="#">Course</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="Sign">
    <div>
      <a href="#">Signup</a>
    </div>
    <div>
      <a href="#">Sign in</a>
    </div>
  </div>
</nav>
{% endblock %} {% block hero %}

<div class="hero">
  <p>Welcome to Learn Buddy</p>
</div>
{% endblock %}
