{% extends 'base.html' %} {% block navbar %}
<div
  style="display: flex; justify-content: space-between; align-content: baseline"
>
  <div style="display: flex; margin-top: 10px">
    <a
      class="ml-4 font-bold text-3xl text-blue-600 mt-3"
      href="{% url 'home:home' %}"
      >LearnBuddy</a
    >
  </div>
  <div class="flex text-xl gap-4 mt-5 text-white">
    <a href="{% url 'articles:list' %}">Courses</a>
    <a href="{% url 'home:contact'%}">Contact</a>
    <a href="{% url 'home:about' %}">About</a>
    {% if user.is_authenticated %}
    <div>
      <form
        action="{% url 'accounts:logout' %}"
        method="post"
      >
        {% csrf_token %}
        <button
          class="lowercase font-bold rounded text-white hover:bg-blue-600 hover:text-white"
          style="
            padding: 5px 15px;
            margin-right: 15px;
            margin-top: -10px;
            border: 2px solid;
          "
          type="submit"
        >
          Sign out
        </button>
      </form>
    </div>
    {% else %}
    <div>
      <a
        class="lowercase font-bold rounded text-white hover:bg-blue-600 hover:text-white"
        style="
          padding: 5px 15px;
          margin-right: 15px;
          margin-top: -10px;
          border: 2px solid;
        "
        href="{% url 'accounts:login' %}"
        >sign in</a
      >
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
