{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Home || Learn Buddy</title>
    <link
      rel="stylesheet"
      href="{% static 'output.css' %}"
    />
  </head>
  <body style="background-color: black; color: white">
    <!-- navbar and hero section -->
    <div
      style="
        background-image: url('/static/image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 790px;
      "
    >
      <nav class="text-xl">
        <div class="flex flex-row justify-around">
          <a
            class="ml-4 font-bold text-3xl text-blue-600 mt-3"
            href="{% url 'homepage:hero' %}"
            >LearnBuddy</a
          >
          <ul class="grid grid-cols-3 text-xl gap-4 font-bold mt-5 text-white">
            <li><a href="#">Courses</a></li>
            <li><a href="{% url 'homepage:contact' %}">Contact</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <div class="grid grid-cols-2 py-3 gap-4 mx-4 text-sm">
            <a
              class="bg-gray-400 lowercase py-2 px-4 font-bold rounded-full text-white"
              href="{% url 'accounts:login' %}"
              >Sign In</a
            >
            <a
              class="bg-blue-600 lowercase py-2 px-4 font-bold rounded-full text-white"
              href="{% url 'accounts:signup' %}"
              >Sign up</a
            >
          </div>
        </div>
        <hr />
      </nav>
      <div>{% block signup %}{% endblock %}</div>
      <div>{% block login %}{% endblock %}</div>
      <div>{% block Hero %} {% endblock %}</div>
      <div>{% block contact %} {% endblock %}</div>
    </div>
    <!-- Courses -->
  </body>
</html>
