{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{% static 'styles.css' %}"
    />
  </head>
  <body>
    <h1><a href="{% url 'articles:list' %}">Learn Buddy</a></h1>
    <nav>
      <ul>
        <li>
          <form
            action="{% url 'accounts:logout' %}"
            method="post"
          >
            {% csrf_token %%}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
    <div>{% block content %} {% endblock content %}</div>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
