{% extends 'base.html' %} {% load embed_video_tags %} {% block content %}

<div>
  <h1>Welcome to the best {{article.title }} course</h1>
  <div>
    <div>
      <p>
        Dear {{ user }}, Our <b>{{ article.title }}</b> course is tailored just
        for you.
        <br />
        These are some things you will learn from our course
      </p>
      <ul>
        <li>
          1. Write clean, efficient, and maintainable {{ article.title }} code.
        </li>
        <li>2. Design, develop, and test software applications</li>
        <li>3. Effectively troubleshoot and debug software issues</li>
        <li>
          4. Collaborate seamlessly in a team environment using industry best
          practices.
        </li>
        <li>
          5. Gain the knowledge and confidence to pursue a fulfilling career in
          software engineering.
        </li>
      </ul>
      <p>
        Don't wait! Invest in your future and take the first step towards a
        rewarding career in software engineering
      </p>
    </div>
    <div>
      <center>
        <img
          class="img-size"
          src="{{ article.image.url }}"
          alt=""
        />
      </center>
    </div>
  </div>
  <div>
    <h1>Start Course below</h1>
  </div>
  <center>
    <div>{% video article.url %}</div>
  </center>
</div>

{% endblock %}
<div>
  <div><h1>{{ article.title }}</h1></div>
  <div><p>{{ article.snippet }}</p></div>
</div>
